$loginColor: #491176;
$mainColor: #9E25FF;
$depositColor: #7B1AC9;
$withdrawColor: #7057e1;
$identifiColor: #964ad4;
$linearColorA: #A92F99;
$linearColorB: #321379;
$btnLinearColorA: #8D1CD4;
$btnLinearColorB: #6B1BAB;

:export {
  loginColor: $loginColor;
  mainColor: $mainColor;
  depositColor: $depositColor;
  withdrawColor: $withdrawColor;
  identifiColor: $identifiColor;
  linearColorA: $linearColorA;
  linearColorB: $linearColorB;
  btnLinearColorA: $btnLinearColorA;
  btnLinearColorB: $btnLinearColorB;
}