$loginColor: #491176;
$mainColor: #9E25FF;
$depositColor: #7B1AC9;
$withdrawColor: #7057e1;
$identifiColor: #964ad4;
$linearColorA: #A92F99;
$linearColorB: #321379;
$btnLinearColorA: #8D1CD4;
$btnLinearColorB: #6B1BAB;
$fontColor: #9E5BD4;
$assetColorStartA: #4c77ff;
$assetColorEndA: #620790;
$assetColorStartB: #9268ea;
$assetColorEndB: #83035e;
$assetColorStartC: #0a83ff;
$assetColorEndC: #038379;

:export {
  loginColor: $loginColor;
  mainColor: $mainColor;
  depositColor: $depositColor;
  withdrawColor: $withdrawColor;
  identifiColor: $identifiColor;
  linearColorA: $linearColorA;
  linearColorB: $linearColorB;
  btnLinearColorA: $btnLinearColorA;
  btnLinearColorB: $btnLinearColorB;
  fontColor: $fontColor;
  assetColorStartA: $assetColorStartA;
  assetColorEndA: $assetColorEndA;
  assetColorStartB: $assetColorStartB;
  assetColorEndB: $assetColorEndB;
  assetColorStartC: $assetColorStartC;
  assetColorEndC: $assetColorEndC;
}