$loginColor: #201e46;
$mainColor: #3825FF;
$depositColor: #151AC9;
$withdrawColor: #5585e0;
$identifiColor: #475dd1;
$linearColorA: #4580ba;
$linearColorB: #321379;
$btnLinearColorA: #1c69d4;
$btnLinearColorB: #1b27ab;
$fontColor: #5b69d4;

:export {
  loginColor: $loginColor;
  mainColor: $mainColor;
  depositColor: $depositColor;
  withdrawColor: $withdrawColor;
  identifiColor: $identifiColor;
  linearColorA: $linearColorA;
  linearColorB: $linearColorB;
  btnLinearColorA: $btnLinearColorA;
  btnLinearColorB: $btnLinearColorB;
  fontColor: $fontColor;
}