$loginColor: #201e46;
$mainColor: #3825FF;
$depositColor: #151AC9;
$withdrawColor: #5585e0;
$identifiColor: #475dd1;
$linearColorA: #4580ba;
$linearColorB: #321379;

:export {
  loginColor: $loginColor;
  mainColor: $mainColor;
  depositColor: $depositColor;
  withdrawColor: $withdrawColor;
  identifiColor: $identifiColor;
  linearColorA: $linearColorA;
  linearColorB: $linearColorB;
}